@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Mono";
  @apply font-mono text-sm;
}

.artwork-on-auction {
  @apply md:max-w-full w-full;
   height: 30rem;
  /*width: 100vw;
  max-width: 100%; */
} 